<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<!-- Primary Meta Tags -->
	<title><% preact.title %></title>
	<meta name="title" content="Code Test - We Do Awesome Things">
	<meta name="description" content="This is just a simple description to describe simple things.">

	<script type="application/ld+json">
		{
			"@context": "https://schema.org/",
			"@type": "WebSite",
			"name": "Code Test - We Do Awesome Things",
			"url": "https://jovial-nightingale-b17c4e.netlify.app"
		}
	</script>

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://jovial-nightingale-b17c4e.netlify.app">
	<meta property="og:title" content="Code Test - We Do Awesome Things">
	<meta property="og:description" content="This is just a simple description to describe simple things.">
	<meta property="og:image" content="https://jovial-nightingale-b17c4e.netlify.app/favicons/assets/favicons/share.png">
	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://jovial-nightingale-b17c4e.netlify.app">
	<meta property="twitter:title" content="Code Test - We Do Awesome Things">
	<meta property="twitter:description" content="This is just a simple description to describe simple things.">
	<meta property="twitter:image" content="https://jovial-nightingale-b17c4e.netlify.app/favicons/assets/favicons/share.png">

	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon.png">
	<link rel="icon" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
	<% preact.headEnd %>
</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
